# https://docs.aws.amazon.com/secretsmanager/latest/userguide/retrieving-secrets_lambda.html#retrieving-secrets_lambda_ARNs
SECRETS_EXTENSION_ARN=
WEATHER_SECRET_ARN=
WEATHER_LOCATION_LAT=45.5229
WEATHER_LOCATION_LON=-122.9898
LOCATION_NAME=Hillsboro, Oregon
OPEN_WEATHER_URL=https://openweathermap.org/city/5731371
# Select from the main weather conditions
# https://openweathermap.org/weather-conditions#Weather-Condition-Codes-2
WEATHER_TYPE=snow
# Optional env var
# BUCKET_NAME=
# Optional env var
#ALERT_EMAIL=
# Can add multiple schedules separated by commas and a space
# Helpful for when weather is less likely to happen during certain parts of the year
# Ex SCHEDULES="cron(0/30 * * 6-8 ? *), cron(0/10 * * 1,2,3,4,5,9,10,11,12 ? *)"
SCHEDULES="rate(10 minutes)"
