name: ci
run-name: ${{ github.actor }} has run the ci trigger

on:
  pull_request:
    branches:
      - main
  # option to run manually in the GitHub UI
  workflow_dispatch:

concurrency:
  group: weather-site-ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CI: true
    permissions:
      contents: read
      id-token: write

    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: install dependencies
        run: npm ci

      - name: build
        run: npm run build

      - name: run prettier format check
        run: npm run format:ci

      - name: run eslint check
        run: npm run lint:ci

      - name: test
        run: npm test

      - name: configure AWS credentials from OIDC
        uses: aws-actions/configure-aws-credentials@v5
        with:
          # 15 minutes aka shortest time allowed
          role-duration-seconds: 900
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: us-west-2

      - name: cdk synth non custom domain stack
        run: npm run synth:quiet
        env:
          ALERT_EMAIL: test@test.com
          LOCATION_NAME: Pittsburgh, Pennsylvania
          OPEN_WEATHER_URL: https://openweathermap.org/city/5206379
          SCHEDULES: 'rate(60 minutes)'
          STACK_PREFIX: pitt-rain
          WEATHER_LOCATION_LAT: 40.4406
          WEATHER_LOCATION_LON: -79.9959
          WEATHER_TYPE: rain

      - name: cdk synth custom domain stack
        run: npm run synth:quiet
        env:
          LOCATION_NAME: Pittsburgh, Pennsylvania
          OPEN_WEATHER_URL: https://openweathermap.org/city/5206379
          SCHEDULES: 'rate(60 minutes)'
          STACK_PREFIX: pitt-rain
          DOMAIN_NAME: pitt-rain-site.com
          WEATHER_LOCATION_LAT: 40.4406
          WEATHER_LOCATION_LON: -79.9959
          WEATHER_TYPE: rain
